.idea/*
config/local/application.properties
config/production/application.properties
# target/ will match a directory target and paths underneath it, but not a regular file
target/
webq2.iml
/.checkstyle
/.classpath
/.project
*.cmd
/.settings
