<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="SHELL" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c] : %m%n "/>
        </layout>
    </appender>

    <!-- custom log level -->

    <category name="org.hibernate">
        <priority value="WARN"/>
    </category>

    <category name="eionet.webq">
        <priority value="INFO"/>
    </category>

    <category name="org.directwebremoting">
        <priority value="FATAL"/>
    </category>

    <category name="org.springframework">
        <priority value="WARN"/>
    </category>

    <category name="de.betterform">
        <priority value="INFO"/>
    </category>

    <logger name="net.sf.ehcache">
        <level value="ERROR"/>
    </logger>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="SHELL"/>
    </root>

</log4j:configuration>

